@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
body {
    margin: 0;
    font-family: Poppins, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: #ffffff;
    line-height: 1.6;
    font-size: 0.95rem;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    text-style: none;
    font-weight: bold;
    }
  
  .container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
  }
  
  .sidebar {
    width: 350px;
    position: fixed;
    padding: 0rem;
    border-radius: 10px;
    margin-right: 2rem;
    text-align: center;
  }

  .sidebar .fixed {
    padding: 2.5rem;
    border-radius: 1.5rem;
    border: 1px solid #383838;
    background: #1E1E1F;
  }
  
  .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 2rem;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .sidebar h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0.5rem;
  }
  
  .sidebar h2 {
    display: flex;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: #2A2A2A;
    color: #A3A3A3;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
  }

  .sidebar .contact  {
    border-top: #404040 solid 2px;
    padding: 1rem 0.5rem;
  }

  .sidebar .contact .contact-card {
    display: flex;
    margin: 0.5rem 0rem;
  }

  .sidebar .contact .contact-card .img-wrapper {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid #383838;
    background: #262626;
  }

  .sidebar .contact .contact-card img {
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1/1;
  }

  .sidebar .contact .contact-card a {
    font-weight: normal;
  }

  .sidebar .contact .contact-card .contact-wrapper {
    flex:2;
    text-align: left;
    padding: 0rem 0.5rem;
  }

  .sidebar .contact p {
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px
  }

  .sidebar .contact span {
    color: #A3A3A3;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .experiences h3, .educations h3, .certificates h3, .skills h3, .recommendations h3  {
    display: flex;
    margin: 1.5rem 0rem;
    align-items: center;
  }

  .experiences .icon-wrapper, .educations .icon-wrapper, .certificates .icon-wrapper, .skills .icon-wrapper, .recommendations .icon-wrapper  {
    border-radius: 0.5rem;
    border: 1px solid #383838;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 0.625rem;
    background: #262626;
    margin-right: 0.5rem;
  }

  main {
    margin-left: 400px;
    border-radius: 1.5rem;
    border: 1px solid #383838;
    background: #1E1E1F;
    display: flex;
    padding: 2rem 3rem;
    flex-direction: column;
    flex: 1 0 0;
  }
  
  h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .summary {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0rem 0.5rem;
  }

  .summary h3 {
    color: #FFF;
    margin-bottom: 0px;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.5rem;
  }

  .summary p {
    color: #A3A3A3;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .experience-card {
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #383838;
    background: #262626;
  }
  .experiences div:nth-of-type(1) {
    margin-top: 0px !important;
  }
  
  .experience-card h4 {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.5rem 0rem;
  }

  .experience-card img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 0px 8px 0px 0px;
  }

  .experience-card .date {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #FFD86E 0%, #FFBC5E 15.4%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .experience-card ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  .experience-card ul li {
    color: #A3A3A3;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .educations .educations-card {
    background-color: #1c1c1c;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: 1px solid #383838;
    background: #262626;
  }

  .educations h4 {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0.5rem 0rem;
  }

  .educations p {
    color: #A3A3A3;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  .certificates ul {
    margin: 0rem;
    padding: 0px;
  }

  .certificates li {  
    list-style: none;
    line-height: 1.5rem;
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    border: 1px solid #383838;
    background: #262626;
  }

  .certificates li img {
    width: 2rem;
    height: 1.5rem;
    object-fit: contain;
    margin: 0px 8px 0px 0px;
  }

  .certificates li a {
    color: #A3A3A3;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
  }

  .certificates li span {
    color: #FFF;
  }

  .certificates-card {
    background-color: #1c1c1c;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .skills .skills-card {
    background-color: #1c1c1c;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: 1px solid #383838;
    background: #262626;
  }

  .skills .skills-card h4 {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .skills span {
    background: #333;
    padding: 0.3rem 0.6rem;
    margin: 0.2rem;
    display: inline-block;
    border-radius: 5px;
    color: #FFF;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .recommendation-card {
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid #383838;
    background: #262626;
  }

  .recommendation-card h4 {
    color: #FFF;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .recommendation-card a {
    display: flex;
  }

  .recommendation-card img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 8px 0px 0px;
  }

  .recommendation-card p {
    overflow: hidden;
    color: #A3A3A3;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .linkedin a, .certificates a {
    font-weight: normal;
  }
  

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 1rem;
    }
  
    .sidebar {
      width: 100%;
      position: relative;
      margin-right: 0;
      margin: 0px;
      margin-bottom: 1rem;
    }
  
    main {
      margin-left: 0;
    }
  
    .summary {
      flex-direction: column;
    }
  
    .summary h3 {
      margin-bottom: 0.5rem;
    }
  }